@import "bootstrap";

.flash-alert{
  color: red;
}

.flash-notice{
  color:green;
}

#products{
  margin-left: 15px;
  margin-bottom: 20px;
}

.description{
  margin: 10px;
}

h4{
  text-align: center;
  padding-top: 10px;
}

#bodyCard{
  margin-bottom: 25px;
  background-color: #eb8291
}

.headListProd{
  margin: 10px;
}

#products{
  padding: 20px;
}

body{
  background-color: #c9e7db
}
p{
  color: white;
}
