@import "bootstrap";

.flash-alert{
  color: red;
}

.flash-notice{
  color:green;
}

#products{
  margin-left: 15px;
  margin-bottom: 20px;
}

.description{
  margin: 10px;
}

h1{
  color: black;
  font-family: 'Abril Fatface', cursive;
}

h4{
  text-align: center;
  padding-top: 10px;
  font-family: 'Abril Fatface', cursive;
}

#bodyCard{
  margin-bottom: 25px;
  background-color: #dedfe0;
}

.headListProd{
  margin: 10px;
  font-family: 'Abril Fatface', cursive;
}

#products{
  padding: 20px;
  background-color: #ffc97f;
}

body{
  background-color: #c9e7db;
}

a{
  color: white;
  font-family: 'Autour One', cursive;
}
