@import "bootstrap";

.flash-alert{
  color: red;
}

.flash-notice{
  color:green;
}

#products{
  margin-left: 15px;
  margin-bottom: 20px;
}

#descHead{
  margin: 10px;
}
#descBody{
  margin: 10px;
  font-family: 'Autour One', cursive;
}

#title{
  color: black;
  font-family: 'Abril Fatface', cursive;
}

h4{
  text-align: center;
  padding-top: 10px;
  font-family: 'Abril Fatface', cursive;
}

#bodyCard{
  margin-bottom: 25px;
  background-color: #dedfe0;
}

.headListProd{
  margin: 10px;
  font-family: 'Abril Fatface', cursive;
  padding-bottom: 10px;
  text-align: center;
}

#products{
  padding: 20px;
  background-color: #ffc97f;
}

body{
  background-color: #c9e7db;
}

a{
  font-family: 'Autour One', cursive;
  color: black;
}

.admin{
  font-family: 'Yeseva One', cursive;
}

.listProducts{
  padding-left: 40px;
}

#returnProd{
  text-align: center;
  font-size:20px;
}

.productName{
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.displayReview{
  margin: 20px;
}

.writeReview{
  margin-left: 20px;
}

.reviewBody{
  margin: 20px;
}
