<h1 id="title">Welcome to Mario's Specialty Foods</h1>
<p class="admin">Admin: <%= link_to "Add Product", new_product_path%></p>

<div class = "card" id="bodyCard">
  <h4 id="descHead">What We're All About</h4>
  <hr>
    <p id="descBody">
      Mario's Specialty Foods is all about providing unique foods to our customers. We pride ourselves on providing the best quality foods from around the world. We also value our customers feed back! We want to know what foods you like and most importantly which ones you don't. Feel free to add a review and rating for our products so we can continue to provide the best foods from our hands to your table.
    </p>
  <hr>
  <div class = "row">
    <div class = "col-sm-6">
      <div class = "card" id= "products">
      <h5 class ="headListProd">Here is a list of our current products:</h5>
        <% @products.each do |product| %>
          <ul>
            <li class="listProducts"><%= link_to product.name, product_path(product) %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Products By:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">All</a>
        <a class="dropdown-item" href="?sort=most_recent">Recently Added</a>
        <a class="dropdown-item" href="?sort=made_in_usa">Foods From USA</a>
        <a class="dropdown-item" href="?sort=most_reviews">Most Reviewed Food</a>
      </div>
    </div>
  </div>
</div>
